#imagec{
    background-size: cover;
    display: block;
    margin: auto;

}
#navbar{
    background-color: black;
    margin-bottom: 20px;
    height: 80px;
}
.footer{
    color: whitesmoke;
    margin-top: 10px;
    background-color: rgb(37, 34, 34);
}